#wrap {
  width: 1110px;
  margin: 0 auto;
}  

div.top {
  margin-bottom: 20px;
	background-color: purple;
}

div.top a{
	color: white;
	text-decoration: none;
}

div.top a:hover{
	color: white;
	text-decoration: underline;
}

.second {
  height: 40px;
  margin-bottom: 20px;
}

#logo {
  float: left;
	width: 150px;
	height: 40px;
  margin-right: 20px;
}

#search-box {
	float: left;
	height: 34px;
	width: 450px;
  margin-right: 5px;
}

#search-button {
	float: left;
	color: white;
	height: 40px;
	width: 110px;
  margin-right: 50px;
  border: none;
  border-radius: 5px;
	background-color: #007FFF;
}

#search-button:hover {
	background-color: #1B3F8B;
}

#profile {
  float: right;
  height: 40px;
}

#profile span {
	color: purple;
	font-weight: bold;
}

#profile  img {
	height: 40px;
	width: 40px;
	vertical-align: middle;	
}

.left-col {
	float: left;
  margin-top: 20px;
  margin-right: 50px;
}

.left-col a {
	color: purple;
  display: block;
  font-weight: bold;
	text-decoration: none;
}

.left-col span:hover {
	color: #007FFF;
	text-decoration: underline;
}
#table-container {
	float: left;
  margin-top: 20px;
}

table {
	float: left;
	clear: left;
}

td {
	border: 1px solid #d3d3d3 ;
	vertical-align: bottom;
}


#first {
	color: purple;
	width: 685px;
	height: 250px;
}

#first h4:hover {
	color: #007FFF;
	text-decoration: underline;
}
#last td:hover {
	color: #007FFF;
	text-decoration: underline;
}

#second td {
	width: 167px;
	height: 100px;
}

#last td  {
	color: purple;
	width: 167px;
	height: 40px;
}
	
#right  {
	clear: right;
	float: right;
  margin-top: 20px;
}

#think {
	color: purple;
}

#think td:hover {
	color: #007FFF;
}

#gps td img {
	width: 16px;
	height: 16px;
}

#img td img {
	width: 49px;
	height: 40px;
}

#cont {
	float: left;
  margin-left: 47px;
	display: inline-table;
}


#bottom {
	position: relative;
	float: left;
	margin-left: 95px;
}

.botimage img {
	float: left;
	vertical-align: bottom;
	width: 170px;
	height: 110px;
}


#bottom div p {
	color: purple;
	vertical-align: bottom;
}

#bottom div p:hover {
	color: #007FFF;
}

#bottom div p.transform {
	color: black;
}

div.botimage {
	width: 688px;
	vertical-align: bottom;
	border: 1px solid #d3d3d3;
}

#rightmost {
  float: right;
  margin-left: 43px;
	display: block;
}

#rightmost  div {
	border: 1px solid #d3d3d3 ;
}

.circles img {
	width: 200px;
	height: 200px;
}

.circles p {
	color: purple;
}

.circles h5 {
	color: purple;
}

.circles h5:hover {
	color: #007FFF;
}